@import "./universal.css";
@import "./universal2.css";

html {
  font-size: 62.5%; 
}

.aspectoshumanitarios {
    background-color: #1f6d2d;
    display: grid;
    justify-items: center;
    align-items: start;
    width: 100vw;
  }
  
.div {
    background-color: #1f6d2d;
    width: 172.8rem;
    height: 190rem;
    position: relative;
  }
  
.sobreposicao {
    position: absolute;
    width: 172.8rem;
    height: 131.8rem;
    top: 0;
    left: 0;
  }
  
  .fundo-do-texto {
    position: absolute;
    width: 156.5rem;
    height: 39.6rem;
    margin-bottom: 10rem;
    top: 67.8rem;
    margin-top: 5rem;
    left: 8.2rem;
    background-color: #d9d9d93d;
    border-radius: 2rem;
  }
  
.imagem-impactos {
    position: absolute;
    width: 172.8rem;
    height: 59.1rem;
    top: 0;
    left: 0;
  }
  
.sombra {
    position: absolute;
    width: 172.8rem;
    height: 79rem;
    top: 50.8rem;
    left: 0;
    transform: rotate(180deg);
    background: linear-gradient(
      180deg,
      rgba(102, 102, 102, 0) 70%,
      rgba(0, 0, 0, 0.9) 86%
    );
  }
  
.texto1 {
    width: 67.2rem;
    left: 91.6rem;
    position: absolute;
    top: 71.6rem;
    font-family: var(--p-PAR-GRAFO-font-family);
    font-weight: var(--p-PAR-GRAFO-font-weight);
    margin-top: 5rem;
    color: #ffffff;
    font-size: var(--p-PAR-GRAFO-font-size);
    letter-spacing: var(--p-PAR-GRAFO-letter-spacing);
    line-height: var(--p-PAR-GRAFO-line-height);
    font-style: var(--p-PAR-GRAFO-font-style);
  }
  
.texto2 {
    width: 64rem;
    left: 14rem;
    position: absolute;
    top: 71.6rem;
    font-family: var(--p-PAR-GRAFO-font-family);
    font-weight: var(--p-PAR-GRAFO-font-weight);
    margin-top: 5rem;
    color: #ffffff;
    font-size: var(--p-PAR-GRAFO-font-size);
    letter-spacing: var(--p-PAR-GRAFO-letter-spacing);
    line-height: var(--p-PAR-GRAFO-line-height);
    font-style: var(--p-PAR-GRAFO-font-style);
  }
  
.sombra-pra-imagem {
    position: absolute;
    width: 172.8rem;
    height: 58.4rem;
    top: 0;
    left: 0;
  }
  
.aspectos {
    position: absolute;
    top: 42rem;
    left: 4.9rem;
    font-family: "League Spartan", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12.8rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.saiba-mais {
    position: absolute;
    top: 114rem;
    left: 4.9rem;
    font-family: "League Spartan", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12.8rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.com-videos {
    position: absolute;
    top: 123rem;
    left: 4.9rem;
    font-family: "League Spartan", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 9.6rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.humanitarios {
    position: absolute;
    top: 52rem;
    left: 5.8rem;
    font-family: "League Spartan", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 9.6rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.camaleario {
    position: absolute;
    width: 27rem;
    height: 26rem;
    top: 110rem;
    left: 70rem;
  }
  
.wario {
    position: absolute;
    width: 12rem;
    height: 16rem;
    top: 57rem;
    left: 140rem;
  }
  
.aspectoshumanitarios .grupo {
    position: absolute;
    width: 33.3rem;
    height: 17.8rem;
    top: 17.4rem;
    left: 14rem;
  }
  
.frase-ryu {
    position: relative;
    width: 33.1rem;
    height: 18.5rem;
    top: 12rem;
    left: 46rem;
    background-image: url(https://c.animaapp.com/mej4ihxtLPmrO9/img/balao-de-fala-naruto.png);
    background-size: cover;
    background-position: 50% 50%;
}
  
.aspectoshumanitarios .paragrafo {
    position: absolute;
    width: 10.6rem;
    top: 2.9rem;
    left: 10.8rem;
    font-family: "Pixelify Sans", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .video1 {
    position: absolute;
    width: 42.1rem;
    top: 133rem;
    left: 112rem;
    font-family: "Gabarito", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: normal;
}

.video2 {
  position: absolute;
  width: 42.1rem;
  top: 135.4rem;
  left: 56rem;
  font-family: "Gabarito", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: normal;
}

.video3 {
  position: absolute;
  width: 34.6rem;
  top: 133rem;
  left: 6rem;
  font-family: "Gabarito", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: normal;
}

.aspectoshumanitarios .cooperação {
  position: absolute;
  width: 47.6rem;
  height: 29.8rem;
  top: 139rem;
  left: 112rem;
  border-radius: 2rem;
  object-fit: cover;
  }
  
.aspectoshumanitarios .efeitos {
  position: absolute;
  width: 51.5rem;
  height: 29.8rem;
  top: 139rem;
  left: 56rem;
  border-radius: 2rem;
  object-fit: cover;
  }
  
.aspectoshumanitarios .refugiados {
  position: absolute;
  width: 45.9rem;
  height: 29.8rem;
  top: 139rem;
  left: 6rem;
  border-radius: 2rem;
  object-fit: cover;
  }
  
.aspectoshumanitarios .header-fixo {
    position: fixed;
    width: 1467px;
    height: 212px;
    top: 0;
    left: 0;
  }
  
.aspectoshumanitarios .header {
    position: relative;
    width: 1467px;
    background-color: transparent;
  }
  
.aspectoshumanitarios .impactos {
    position: absolute;
    width: 15.9rem;
    top: 8.8rem;
    left: 115.2rem;
    opacity: 0.5;
    font-family: var(--h1-TITULO-font-family);
    font-weight: var(--h1-TITULO-font-weight);
    color: #ffffff;
    font-size: var(--h1-TITULO-font-size);
    text-align: center;
    letter-spacing: var(--h1-TITULO-letter-spacing);
    line-height: var(--h1-TITULO-line-height);
    white-space: nowrap;
    font-style: var(--h1-TITULO-font-style);
  }
  
.aspectoshumanitarios .game {
    position: absolute;
    width: 10.6rem;
    top: 8.8rem;
    left: 136.1rem;
    opacity: 0.5;
    font-family: var(--h1-TITULO-font-family);
    font-weight: var(--h1-TITULO-font-weight);
    color: #ffffff;
    font-size: var(--h1-TITULO-font-size);
    text-align: center;
    letter-spacing: var(--h1-TITULO-letter-spacing);
    line-height: var(--h1-TITULO-line-height);
    white-space: nowrap;
    font-style: var(--h1-TITULO-font-style);
  }
  
.aspectoshumanitarios .otan-e-ue {
    position: absolute;
    width: 19rem;
    top: 8.8rem;
    left: 91.2rem;
    opacity: 0.5;
    font-family: var(--h1-TITULO-font-family);
    font-weight: var(--h1-TITULO-font-weight);
    color: #ffffff;
    font-size: var(--h1-TITULO-font-size);
    text-align: center;
    letter-spacing: var(--h1-TITULO-letter-spacing);
    line-height: var(--h1-TITULO-line-height);
    white-space: nowrap;
    font-style: var(--h1-TITULO-font-style);
  }
  
.aspectoshumanitarios .humanidade {
    position: absolute;
    width: 22.7rem;
    top: 8.8rem;
    left: 63.5rem;
    opacity: 0.5;
    font-family: var(--h1-TITULO-font-family);
    font-weight: var(--h1-TITULO-font-weight);
    color: #ffffff;
    font-size: var(--h1-TITULO-font-size);
    text-align: center;
    letter-spacing: var(--h1-TITULO-letter-spacing);
    line-height: var(--h1-TITULO-line-height);
    white-space: nowrap;
    font-style: var(--h1-TITULO-font-style);
  }
  
.aspectoshumanitarios .donbass {
    position: absolute;
    width: 14.7rem;
    top: 9rem;
    left: 43.8rem;
    opacity: 0.5;
    font-family: var(--h1-TITULO-font-family);
    font-weight: var(--h1-TITULO-font-weight);
    color: #ffffff;
    font-size: var(--h1-TITULO-font-size);
    text-align: center;
    letter-spacing: var(--h1-TITULO-letter-spacing);
    line-height: var(--h1-TITULO-line-height);
    white-space: nowrap;
    font-style: var(--h1-TITULO-font-style);
  }
  
.aspectoshumanitarios .crimeia {
    position: absolute;
    width: 13.8rem;
    top: 9rem;
    left: 25rem;
    opacity: 0.5;
    font-family: var(--h1-TITULO-font-family);
    font-weight: var(--h1-TITULO-font-weight);
    color: #ffffff;
    font-size: var(--h1-TITULO-font-size);
    text-align: center;
    letter-spacing: var(--h1-TITULO-letter-spacing);
    line-height: var(--h1-TITULO-line-height);
    white-space: nowrap;
    font-style: var(--h1-TITULO-font-style);
  }
  
.aspectoshumanitarios .logo {
    position: absolute;
    width: 20rem;
    height: 21.2rem;
    top: 0;
    left: 0;
  }
